<div id="main-container">
    <button class="btn btn-primary" routerLink="experiencia-add">
      agregar Experiencia
    </button>
      <div *ngFor="let experiencia of experiencias; let iControl=index">
        <div class="col text-center">
          <button class="btn btn-primary" routerLink="experiencia-update/{{experiencia.idExp}}">
              Editar
          </button>
          
          <button class="btn btn-danger" (click)="borrarExperiencia(experiencia.idExp, iControl)">
            Eliminar
        </button>
      </div>
      
  
        {{experiencia.tituloExp}}
        {{experiencia.descripcionExp}}
        {{experiencia.fechaExp}}
        <img src={{experiencia.imagenExp}} alt="" width="100px">
      </div>
  </div>