<div class="container">
    <a href=""><img src="../../../assets/facebook.png" class="item" alt="facebook" id="facebook"></a>
    <a href=""><img src="../../../assets/github.png" class="item" alt="github" id="github"></a>
    <a href=""><img src="../../../assets/instagram.png" class="item" alt="instagram" id="instagram"></a>
    <a href=""><img src="../../../assets/linkedin.png" class="item" alt="linkedin" id="linkedin"></a>
    <a href=""><img src="../../../assets/twitter.png" class="item" alt="twitter" id="twitter"></a>
    <button type="button" class="btn btn-outline-light btn-sm item">Ingresar</button>
</div>