/* You can add global styles to this file, and also import other style files */
.row{
    padding: 15px;
    margin: 0;
    border: solid 1px  rgb(152, 152, 152);
    border-radius: 10px;
}
div{
    background-color: rgb(160, 215, 216);
}